[Unit]
Description=YASD Service
After=network.target

[Service]
Environment=NODE_ENV=production
WorkingDirectory=/opt/yasd/yasd-back
ExecStart=/usr/bin/node app.js
Restart=always
User=yasd
Group=yasd
AmbientCapabilities=CAP_AUDIT_WRITE CAP_DAC_READ_SEARCH
CapabilityBoundingSet=CAP_AUDIT_WRITE CAP_DAC_READ_SEARCH

[Install]
WantedBy=multi-user.target

